* {
    /*background-color: darkblue !important;
    color: darkblue !important;*/
}


span.text-color-primary{

    color: #f30c0c !important;
    font-weight: 900;
}

img {
    border: 5px #000;
}

body {
    background:#f0efeb !important;
}

footer{
    background: #f0efeb ;
}

p{
    color:rgb(59, 56, 57) !important;
}

a.button{
    color:ghostwhite !important;
}

/*a svg path{
    display:none !important;
}*/

h2{
    color:#07174b !important;
}

p.text-sm{
    color:ghostwhite !important;
}

p.m-0{
    color: rgb(59, 56, 57) !important;
}


button.header-nav-toggle{
    color:mediumblue !important;
}

.easter-egg-avocado{
    box-sizing: border-box;
    width: 50%;
    border: 30px solid #fff;
    float:left;

}


.inner-avocado{
    height: 700px;
    background: #07174b;
};

.player{
    line-height: 300%;
}

.name{
    line-height: 200%;
    font-weight: 900;
    color:#f30c0c !important;
    text-align: center;
}

.position{
    line-height: 100%;
    text-align: center;
}

.stats{
    box-sizing: border-box;
    width: 100%;
    border: solid red 10px;
    text-align: left !important;
    color:#fff !important;
    padding: 30px;
    
}

.img-me{
    display: block;
    height: 100px;
    width: auto;
    background-image: url('/Portfolio/public/images/me.jpg');
};






